article {
  width: 50vw;
  left: 50%;
  position: absolute;
  top: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

fieldset {
  position: absolute;
  display: flex;
  gap: 8px;
  border: 0;
  margin: 0;
  padding: 0;
}

input {
  cursor: pointer;
}

label {
  display: none;
}

input:checked + label {
  display: block;
}

footer {
  position: absolute;
  bottom: 4px;
}
